; *************************************************************
; *** Bootloader Scatter File - STM32F407                    ***
; *** Position: 0x08000000, Size: 128KB (Sector 0)          ***
; *************************************************************

LR_IROM1 0x08000000 0x00020000  {
  ER_IROM1 0x08000000 0x00020000  {
   *.o (RESET, +First)
   *(InRoot$$Sections)
   .ANY (+RO)
   .ANY (+XO)
  }
  RW_IRAM1 0x20000000 0x00002000  {
   .ANY (+RW +ZI)
  }
}
